.section {
  padding: 30px 30px;

  .sa-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    img {
      max-width: 70px;
      max-height: 70px;
      height: auto;
      width: auto;
    }
  }
}
